/* Sets page background color */
body {
    background-color: black;
}

/* Sets h1 text color, aligns text to center and positions it */
h1 {
    
    color: yellow;
    text-align: center;
    height: 50px;
    width: 100%;
}

/* Sets h2 text color */
h2 {

    color: white;
}

/* Sets p text color */
p {
    color: white;
}

.container {
    text-align: center; /* Center horizontally */
    display: flex; /* Sets container as flexible */
    justify-content: center; /* Center horizontally (alternative) */
    align-items: center; /* Center vertically (alternative) */
    height: 100vh; /* Optional: Set a height for vertical centering */
}

/* Sets img size */
img {
    margin: 0 auto; /* Center horizontally */
    display: block; /* Removes any default inline alignment */
}

/* Sets ol color */
ol {
    color: white;
}

/* Sets li color */
li {
    color: white;
}

 /* Because we created <div class> we can now modify elements in container separately */
.image-container p {
    
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;

}

/* Modifies size of img in image-container class */
.image-container img {
    
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 500px;
}

/* Modifies the positioning of the button */
.center-button {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6vh;

}
